@section scripts {
    @Scripts.Render("~/bundles/app")
}

@{
    ViewBag.Title = "Zadania";
}
<h1></h1>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading h4"> <span class="glyphicon glyphicon-user"></span> Zadania </div>
            <div class="panel-body">
                <label class="panel-title h4"> <span class="glyphicon glyphicon-search"></span> Wyszukiwarka zadań  </label>
                <div class="searchForm">
                    <input placeholder="Szukaj zadań..." type="search" class="form-control" data-bind="textInput: query" autocomplete="off" />
                </div>
                <br>
                <label class="panel-title h4"> <span class="glyphicon glyphicon-th-list"></span> Lista zadań</label>
                <ul class="list-unstyled" data-bind="foreach: filteredTasks">
                    <li>
                        <a href="#" data-bind="click: $parent.getDetails"><span data-bind="text: Description"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <button data-toggle="collapse" data-target="#addtask" class="btn btn-success btn-lg btn-block">Dodaj zadanie</button>
    </div>
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>

    <!-- ko if:detail() -->


    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading h4">
                <span class="glyphicon glyphicon-tasks"></span>
                Szczegóły zadania &nbsp;
            </div>
            <div class="panel-body">
                <div class="tasks" data-bind="with: detail()">
                    <div class="well">
                        <div>
                            <strong>Identyfikator zadania: </strong>
                            <span data-bind="text: Id"></span>
                        </div>
                        <div>
                            <strong>Data rozpoczęcia: </strong>
                            <span data-bind="text: moment(StartDate).format('D/M/YYYY')"></span>
                        </div>
                        <div>
                            <strong>Data zakończenia: </strong>
                            <span data-bind="text: moment(EndDate).format('D/M/YYYY')"></span>
                        </div>
                        <div>
                            <strong>Opis: </strong>
                            <span data-bind="text: Description"></span>
                        </div>
                        <div>
                            <strong>Punkty: </strong>
                            <span data-bind="text: Points "></span>
                        </div>
                        <div>
                            <strong>Status zadania: </strong>
                            <span data-bind="text: Status "></span>
                        </div>
                        <div>
                            <strong>Przypisane do: </strong>
                            <span data-bind="text: Employee.Name "></span>
                        </div>
                        <div align="right">
                            <button data-toggle="collapse" data-target="#edittask" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addtask" class="collapse">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading h4">
                    Dodaj nowe zadanie
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="submit: addTask">

                        <div class="form-group">

                            <div class="col-sm-10">
                                <strong>Opis: </strong>
                                <span><textarea class="form-control" id="Description" data-bind="value: newTask.Description"></textarea></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Data rozpoczęcia: </strong><span><input type="date" min="moment().valueOf()" max="2019-01-01" class="form-control" id="StartDate" data-bind="value: newTask.StartDate" /></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Data zakończenia: </strong><span><input type="date" min="moment().valueOf()" max="2019-01-01" class="form-control" id="EndDate" data-bind="value: newTask.EndDate" /></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Przypisz do: </strong>
                                <span><select class="form-control" id="Employee" data-bind="options:employees, optionsText: 'Name', value: newTask.Employee"></select></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Manager: </strong>
                                <span><select id="Manager" class="form-control" data-bind="options:managers, optionsText: 'Name', value: newTask.Manager"></select></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Punkty: </strong>
                                <span><input type="text" class="form-control" id="Points" data-bind="value: newTask.Points"></span>
                            </div>
                        </div>
                        <button data-bind="click: $root.addTask" class="btn btn-success btn-lg btn-block">Zapisz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="edittask" class="collapse">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading h4">
                    Edytuj zadanie
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="submit: addTask">

                        <div class="form-group">

                            <div class="col-sm-10">
                                <strong>Opis: </strong>
                                <span><textarea class="form-control" id="Description" data-bind="value: updateTask.Description"></textarea></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Data rozpoczęcia: </strong><span><input type="date" min="moment().valueOf()" max="2019-01-01" class="form-control" id="StartDate" data-bind="value: updateTask.StartDate" /></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Data zakończenia: </strong><span><input type="date" min="moment().valueOf()" max="2019-01-01" class="form-control" id="EndDate" data-bind="value: updateTask.EndDate" /></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Przypisz do: </strong>
                                <span><select class="form-control" id="Employee" data-bind="options:employees, optionsText: 'Name', value: updateTask.Employee"></select></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Manager: </strong>
                                <span><select id="Manager" class="form-control" data-bind="options:managers, optionsText: 'Name', value: updateTask.Manager"></select></span>
                            </div>
                            <div class="col-sm-10">
                                <strong>Punkty: </strong>
                                <span><input type="text" class="form-control" id="Points" data-bind="value: updateTask.Points"></span>
                            </div>
                        </div>
                        <button data-bind="click: $root.updateTask" class="btn btn-success btn-lg btn-block">Aktualizuj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>