@section scripts {
    @Scripts.Render("~/bundles/app")
}

@{
    ViewBag.Title = "Pracownicy";
}


<h2>Lista pracowników</h2>

<div class="page-header">
    <h1>Pracownicy</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                        <label class="panel-title h4">Lista</label>
                        <div class="searchForm">
                            <input placeholder="Szukaj pracownika..." type="search" class="form-control" data-bind="textInput: query" autocomplete="off" />
                        </div>
            </div>
                <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: filteredEmployees">
                    <li>
                        <a href="#" data-bind="click: $parent.getTeam"><span data-bind="text: Name"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" data-bind="text: detail().Name"></h2>
            </div>
            <table class="table">
                <tr><td>Manager</td><td data-bind="text: detail().Manager.Name"></td></tr>
                <tr><td>Points</td><td data-bind="text: detail().Points"></td></tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Zespół</h2>
            </div>
            <div class="panel-body">
                <strong><span data-bind="text: detail().Manager.Name"></span></strong>
                <ul class="list-unstyled" data-bind="foreach: teamEmployees">
                    <li>
                        <span data-bind="text: Name"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Zadania</h2>
            </div>
            <div class="panel-body">
                Tu będa zadania przypisane do: <span data-bind="text: detail().Name"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>