@section scripts {
    @Scripts.Render("~/bundles/stats")
}

@{
    ViewBag.Title = "Statystyki";
}
<h1></h1>

<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(goForEach);
      var numbers = [[1, 2, 3, 4, 5], [2, 2, 3, 4, 5], [3, 2, 3, 4, 4]];
      function goForEach() {
          numbers.forEach(function (item) {
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Topping');
              data.addColumn('number', 'Slices');
              data.addRows([
                ['Nowe', item[0]],
                ['Do Zrobienia', item[1]],
                ['W trakcie', item[2]],
                ['Zrobione', item[3]],
                ['Zamkięte', item[4]]
              ]);

              // Set chart options
              var options = {
                  'title': 'Zespół managera: ' + item[0]
              };

              var chart = new google.visualization.PieChart(document.getElementById(item[0]));
              chart.draw(data, options);
          });
      }
     
      
    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div class="row">
        <div id="1">
        </div>

        <div id="2">
        </div>

        <div id="3">
        </div>
    </div>
    <div data-bind="foreach: $root.getStatuses(managers())">
        <strong data-bind="Name"></strong>
        <strong>Nowe</strong><span data-bind="text : tasksStatuses[0]"></span>
        <strong>Do zrobienia</strong><span data-bind="text : tasksStatuses[1]"></span>
        <strong>W trakcie</strong><span data-bind="text : tasksStatuses[2]"></span>
        <strong>Zrobione</strong><span data-bind="text : tasksStatuses[3]"></span>
        <strong>Zamknięte</strong><span data-bind="text : tasksStatuses[4]"></span>
    </div>
   
</body>
</html>
