@section scripts {
    @Scripts.Render("~/bundles/stats")
}

@{
    ViewBag.Title = "Statystyki";
}
<h1></h1>

<html>

<body>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading h4">
                <span class="glyphicon glyphicon-bookmark"></span> Mangerowie
            </div>
            <div class="panel-body">
                <div data-bind="foreach: managers">
                    <span data-bind="text: Name, click: $parent.getTasks"></span><br />
                </div>
                </div>
            </div>
    </div>
    <!-- ko if:tasks() -->
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading h4">
                <span class="glyphicon glyphicon-bookmark"></span> Zadania
            </div>
            <div class="panel-body">
                <div id="dynamic-doughnut-example">
                    <canvas id="some-dynamic-doughnut-chart"
                            data-bind="chart: { type: 'pie', data: data, options: { observeChanges: true, throttle: 100} }"></canvas>
                </div>
                <strong>Nowe zadania: </strong><span data-bind="text: newTasks()"></span> <br />
                <strong>Zadania do zrobienia: </strong><span data-bind="text: todoTasks()"></span> <br />
                <strong>Zadania w trakcie: </strong><span data-bind="text: inprogressTasks()"></span> <br />
                <strong>Gotowe zadania: </strong><span data-bind="text: doneTasks()"></span> <br />
                <strong>Zamknięte zadania: </strong><span data-bind="text: closedTasks()"></span> <br />
                </div>
            </div>
        </div>
    <!-- /ko -->
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading h4">
                <span class="glyphicon glyphicon-bookmark"></span> Pracownicy
            </div>
            <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Pracownik</th>
                                <th>Punkty</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: employees">
                            <tr data-bind="visible: ($index() < 3)" class="danger"><td data-bind="text: Name"></td><td data-bind="text: Points"></td></tr>
                            <tr data-bind="visible: ($index() > 2)"><td data-bind="text: Name"></td><td data-bind="text: Points"></td></tr>
                            </tbody>
</table>
            </div>
        </div>
    </div>
</body>
</html>
